.firstdiv{
    color: blue;
    font-weight: 500;
    font-size: xx-large;
    background-color: rgb(228, 223, 223);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1%;
    padding: 1%;
    border: 0px;
    border-radius: 5px;
    /* outline: 2px solid black; */
}
.seconddiv{
    display: flex;
    /* background-color: blueviolet; */
    /* outline: 2px solid black; */
    margin-top: 1%;
    align-items: center;
    padding: 6%;
    justify-content: space-around;
}
.thirddiv-1{
    background-color: rgb(158, 198, 233);
    width: 300px; 
    height: 500px; 
    border: 0px;
    border-radius: 5px;
    /* margin-top: -3%; */
    /* margin-right: 7%; */
    /* position: relative */
    flex: 30%;
    outline: 1px solid rgb(216, 141, 141);

}
.thirddiv-2{
    width: 70%;
    height: 300px;
    background-color: aliceblue;
    margin-top: 3%;
    margin-left: -1%;
    /* margin-right: 4%; */
     outline: 1px solid rgb(216, 141, 141);
     flex: 70%;
     border: 0px;
     border-radius: 5px;
     

}

.image-container {
    max-width: 100%; /* The image container won't exceed the width of its parent */
    max-height: 100%; /* The image container won't exceed the height of its parent */
  }
  
  /* Style the image element itself (if needed) */
  .image-container img {
    width: 100%; /* Make the image take up 100% of its container's width */
    height: 100%; /* Maintain the image's aspect ratio */
  }